.top {
    width: 100%;
    height: 75px;
    background-color: black;
    color: white;
    /* position: sticky;
    top: 0%;
    left: 0%;
    z-index: 1; */

}

.goog:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(120%);
    border: 3px solid black;
    font-weight: 800;
}


.fb:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(120%);
    border: 3px solid black;
    font-weight: 800;
}

.tones {
    font-size: x-large;
    font-weight: bold;
    position: relative;
    left: 24.5em;
    top: 1em;
    font-family: Helvetica, sans-serif;

}

#tones {
    text-decoration: none;
    color: white;
}

.benefits {
    position: relative;
    top: 3em;
    text-align: center;
    color: black;
    font-family: Playfair Display;
}

body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
}

html {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#fb {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.fb {
    position: relative;
    border-radius: 7em;
    height: 4em;
    width: 30em;
    background-color: #355070;
    top: 10em;
}

#goog {
    font-size: 1.5em;
    color: black;
    font-weight: bold;

}

.goog {
    position: relative;
    border-radius: 7em;
    height: 4em;
    width: 30em;
    background-color: whitesmoke;
    top: 10.5em;
}

h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    position: relative;
    top: 8em;
}

h2 span {
    background: #fff;
    padding: 0 10px;

}

.email {
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    position: relative;
    top: 8.5em;
}

.common {
    font-family: Roboto;
    font-size: 1.0em;
    position: relative;
    top: 15em;

}

.long {
    width: 32.5em;
    height: 2.75em;
    position: relative;
    top: 17em;
}

.gender {
    position: relative;
    top: 20em;
}

.gender1 {
    position: relative;
    top: 16.6em;
}

.share {
    position: relative;
    top: 15.85em;
    font-size: large;

}

.share1 {
    position: relative;
    top: 21.5em;
}

.terms {
    position: relative;
    top: 19em;
}

.privacy {
    position: relative;
    top: 20em;
}

.onclick {
    position: relative;
    border-radius: 2em;
    padding: 15px 20px;
    width: 150px;
    background-color: black;
    top: 20em;
    left: -1em;
    font-size: large;
    font-family: Roboto;
    font-weight: bold;
    color: white;
}

.onclick:hover {
    background-color: white;
    color: black;
}

#art {
    width: 100%;
}

footer {
    width: 100%;
    height: 340px;
    background-image: url(https://images.unsplash.com/photo-1594315817877-7451953e203d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTV8fHN0YXJyeSUyMHNreXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin-top: 28em;
    position: relative;
}

.tonesf {
    font-size: 2.3em;
    font-weight: bold;

    font-family: Helvetica, sans-serif;
    color: #c9ada7;
    position: absolute;
    top: 1.5em;
    left: 2.0em;


}

#tonesf {
    color: #c9ada7;
    text-decoration: none;
}

.foot1 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 6em;
    left: 22em;
    position: absolute;


}

.foot2 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 9em;
    left: 22em;
    position: absolute;

}

.foot3 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 12em;
    left: 22em;
    position: absolute;
}

.foot4 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 6em;
    left: 36em;
    position: absolute;
}

.foot5 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 9em;
    left: 36em;
    position: absolute;
}

.foot6 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 12em;
    left: 36em;
    position: absolute;
}

.icon1 {
    color: #c9ada7;
    font-size: 2.5em;
    position: absolute;
    top: 3.6em;
    left: 25em;
}

.icon2 {
    color: #c9ada7;
    font-size: 2.5em;
    position: absolute;
    top: 3.6em;
    left: 27em;
}


.icon3 {
    color: #c9ada7;
    font-size: 2.5em;
    position: absolute;
    top: 3.6em;
    left: 29em;
}
