html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px;

    /* overflow-x: hidden; */
}

.panel {
    background-color: black;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2em;

}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #c9ada7;
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #c9ada7;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #c9ada7;
    border-radius: 10px;
    color: #c9ada7;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #e1f1ff;
    color: #6c584c;
}

.pricing-button.is-featured {
    color: #c9ada7;
    ;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
    background-color: #e1f1ff;
    color: #6c584c;
}


@media (min-width: 900px) {
    .panel {
        flex-direction: row;
    }

    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }
}

.top {
    width: 100%;
    height: 72px;
    background-color: black;
    color: white;
    margin: 0;
    position: sticky;
    top: 0em;
    left: 0em;
    z-index: 1;


}

.tones {
    font-size: x-large;
    font-weight: bold;
    position: relative;
    left: 186px;
    top: 5px;
    font-family: Helvetica, sans-serif;

}

.down {
    font-size: large;
    font-weight: 600;
    margin: auto 60%;
    position: relative;
    left: 21.2em;
    top: -3.3em;

}

.prem {
    font-size: large;
    font-weight: 600;
    margin: auto 60%;
    position: relative;
    left: 2.2em;
    top: -0.95em;

}

.exp {
    font-size: large;
    font-weight: 600;
    margin: auto 60%;
    position: relative;
    left: 6.9em;
    top: -2.1em;
    padding-right: 0.7em;
    padding-left: 0.7em;
    border-right: 1px solid white;
    border-left: 1px solid white;

}

.sign {
    font-size: large;
    font-weight: 600;
    margin: auto -70%;
    position: relative;
    left: 19em;
    padding-right: 0.7em;
    padding-left: 0.7em;
    border-right: 1px solid white;
    border-left: 1px solid white;
    top: -3.3em;
}

.log {
    font-size: large;
    font-weight: 600;
    position: relative;
    left: 63.1em;
    top: -3.3em;

}

.a {
    color: white;
    text-decoration: none;
}

.b {
    color: white;
    text-decoration: none;
}

.c {
    color: white;
    text-decoration: none;
}

.d {
    color: white;
    text-decoration: none;
}

.e {
    color: white;
    text-decoration: none;
}

.a:hover {
    color: #60a9ff;
}

.b:hover {
    color: #60a9ff;
}

.c:hover {
    color: #60a9ff;
}

.d:hover {
    color: #60a9ff;
}

.e:hover {
    color: #60a9ff;
}

.premium {
    width: 100%;
    height: 500px;
    background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #14213d; */
    object-fit: cover;
    image-resolution: initial;
    /* background-position: bottom; */

}

.needs {
    margin: auto 12.5%;
    padding: auto;
    color: #14213d;
    font-family: Roboto;
    font-weight: 500;
    font-size: 2.5em;
    position: relative;
    top: 3.5em;
    left: 0.2em;


}

.explain {
    color: #14213d;
    font-family: Inter;
    font-size: 1.5em;
    position: relative;
    top: 150px;
    left: 200px;
}

.tc {
    color: #14213d;
    position: relative;
    top: 200px;
    left: 200px;
}

#tc {
    color: #14213d;
    text-decoration: none;
}

.begin {
    position: relative;
    top: 170px;
    left: 200px;
    background-color: #fefae0;
    border-radius: 2em;
    padding: 15px 20px;
    width: 150px;
}

.lets {
    text-decoration: none;
    color: black;
}

.lets:hover {
    color: #457b9d;
}

.begin:active {
    background-color: #a2d2ff;
}


#down {
    width: 5em;
    height: 5em;
    position: relative;
    top: 10em;
    left: 14em;

}

#ad {
    width: 5em;
    height: 5em;
    position: relative;
    top: 3.1em;
    left: 24em;
}

#quality {
    position: relative;
    left: 63.3em;
    top: -7.9em;
}

.down1 {
    position: relative;
    left: 4.6em;
    top: 4.1em;
    font-size: xx-large;
    font-family: Playfair Display, sans-serif;
}

.ad {
    position: relative;
    left: 5.8em;
    top: 4.1em;
    font-size: xx-large;
    font-family: Playfair Display, sans-serif;
}

.quality {
    position: relative;
    left: 23.5em;
    top: -3.8em;
    font-size: xx-large;
    font-family: Playfair Display, sans-serif;
}

.why {
    width: 100%;
    height: 600px;
}

.whyp {
    position: relative;
    top: 1.5em;
    text-align: center;
    font-family: Ubuntu;
    font-size: 2.5em;
}

.pics {
    width: 100%;
    height: 68em;
    background-color: #9a8c98;
    /* background-image: url(https://images.pexels.com/photos/1955134/pexels-photo-1955134.jpeg?auto=compress&cs=tinysrgb&w=600);
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    image-resolution: initial; */


}

#con {
    position: relative;
    left: -1em;
    width: 36em;
    left: -1em;

}

#game {
    position: relative;
    height: 24em;
    left: 47.1em;
    top: -24.2em;
}

#one {
    /* transform: rotate(90deg); */
    position: relative;
    height: 36em;
    width: 55em;
    top: -16.5em;
    left: 14.5em;
}

.con {
    position: absolute;
    font-size: xx-large;
    opacity: 1;
    top: 0em;
    left: 2em;
    font-weight: 900;


}

#hi {
    position: relative;
}

.game {
    position: absolute;
    font-size: xx-large;
    opacity: 1;
    top: -12.5em;
    left: 37em;
    display: inline;
    font-weight: 900;
    font-family: Playfair Display;
}

#bye {
    position: relative;
    display: inline-block;
}

#hibye {
    position: relative;

}

.one {
    position: absolute;
    font-size: xx-large;
    opacity: 1;
    font-weight: 900;
    font-family: Playfair Display;
    top: -8.5em;
    left: 18.5em;

}

.what {
    width: 100%;
    height: 15em;
    margin-top: 1em;
    margin-bottom: 1em;
    /* background-color: #e63946; */
}

#whatp {
    position: relative;
    top: 0em;
    text-align: center;
    font-family: Ubuntu;
    font-size: 2.5em;
}

.whate {
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    position: relative;
    top: 1em;
    left: 11em;
    color: #e63946;
}

.whate:hover {
    color: #60a9ff;
}

#pick {
    font-size: 2.5em;
    font-family: Roboto;
}

/* .fl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
} */
#art {
    width: 100%;
}

footer {
    width: 100%;
    height: 340px;
    background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin-top: 5em;
    position: relative;
}

.tonesf {
    font-size: 2.3em;
    font-weight: bold;

    font-family: Helvetica, sans-serif;
    color: #c9ada7;
    position: absolute;
    top: 1.5em;
    left: 2.0em;


}

.foot1 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 6em;
    left: 22em;
    position: absolute;


}

.foot2 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 9em;
    left: 22em;
    position: absolute;

}

.foot3 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 12em;
    left: 22em;
    position: absolute;
}

.foot4 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 6em;
    left: 36em;
    position: absolute;
}

.foot5 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 9em;
    left: 36em;
    position: absolute;
}

.foot6 {
    color: #c9ada7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    top: 12em;
    left: 36em;
    position: absolute;
}

.icon1 {
    color: #c9ada7;
    font-size: 2.5em;
    position: absolute;
    top: 3.6em;
    left: 25em;
}

.icon2 {
    color: #c9ada7;
    font-size: 2.5em;
    position: absolute;
    top: 3.6em;
    left: 27em;
}


.icon3 {
    color: #c9ada7;
    font-size: 2.5em;
    position: absolute;
    top: 3.6em;
    left: 29em;
}
